body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

nav {
    vertical-align: top;
    width: 100%;
}

nav p {
    width: 40%;
    display: inline-block;
    float: left;
}

nav ul {
    width: 50%;
    margin-left: auto;
    float: right;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

header {
    color: #fff;
    background-color: #003554;
}

header div {
    clear: both;
}

footer {
    color: #fff;
    background-color: #051923;
}

footer div {
    clear: both;
    display: inline-block;
    width: 100%;
}

footer p {
    width: 23%;
    display: inline-block;
    float: right;
    text-align: right;
}

footer ul {
    width: 50%;
    margin-right: auto;
    float: left;
    text-align: left;
}

footer ul li {
    display: inline-block;
}